header {
    margin: 0;
    border-bottom: 2px solid black;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: black;
}

aside {
    float: left;
    width: 150px;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(211, 211, 211);
}
nav ul li a{
    padding-bottom: 0.5em;
    display: block;
  color: rgb(255, 255, 255);
  //padding: 8px 16px;
  text-decoration: none;
}

nav ul li a:hover{
  color: rgb(3, 3, 5);
}

.unb{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
  }
  
  .nb {
    float: left;
  }
  
  .nb a {
    display: block;
    color: rgb(0, 4, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 2s;
  }
  
  .nb a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  