@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: .5rem;
}

input {
  display: block;
}

input[type="text"] {
  width: 100%;
}

.container {
  margin: 1.5rem;
}

:root {
  --primary-color: rgba(125, 141, 155, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: var(--primary-hover);
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  color: white;
}

.navbar-item > a {
  color: white;
  padding: 0 5px;
  margin: 0 5px;
}

.logo {
  margin-top: 0;
  font-size: 1.75rem;
}

:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

.container.signup {
  width: 100%;
  margin-left: 0;
}

.form-signup {
  width: 200px;
  margin: 0 auto;
}

.form-signup > input {
  width: 200px;
  padding: 5px 0;
}

.msg-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.msg {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  color: white;
  font-weight: 700;
}

.error-msg {
  background-color: var(--danger-color);
}

.confirm-msg {
  background-color: var(--submit-color);
}

:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

.btn {
  display: inline-block;
  padding: .7rem 1.5rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn:hover {
  background-color: var(--primary-hover);
}

.btn-logout {
  border-style: none;
  margin: 0;
  padding: 0 5px;
  font-size: 1rem;
}

.btn-submit {
  background-color: var(--submit-color);
}

.btn-submit:hover {
  background-color: var(--submit-hover);
}

.button-right {
  float: right;
}

.btn-danger {
  background-color: var(--danger-color);
  border: 0;
}

.btn-danger:hover {
  background-color: var(--danger-hover);
}

:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

:root {
  --primary-color: rgba(94, 180, 251, 0.85);
  --primary-hover: rgba(94, 180, 251, 0.95);
  --submit-color: rgba(29, 54, 165, 0.85);
  --submit-hover: rgba(29, 54, 165, 0.95);
  --danger-color: rgba(255, 19, 19, 0.85);
  --danger-hover: rgba(255, 19, 19, 0.95);
}

.blog-post {
  background-color: whitesmoke;
  -webkit-box-shadow: 2px 2px 6px rgba(100, 100, 200, 0.3);
          box-shadow: 2px 2px 6px rgba(100, 100, 200, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=mystyle.css.map */